/.idea/dataSources/7e65579d-14ed-4ace-a0d0-4ecb1ca71af8.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/CRUD2_PHP.iml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/dataSources/7e65579d-14ed-4ace-a0d0-4ecb1ca71af8/storage_v2/_src_/schema/debts_docs_payments.8uiNVA.meta
/.idea/dataSources/7e65579d-14ed-4ace-a0d0-4ecb1ca71af8/storage_v2/_src_/schema/debts_docs_payments.8uiNVA.zip
/DB_Dumps/17.06.22/debts_docs_payments_client.csv
/DB_Dumps/17.06.22/debts_docs_payments_debt.csv
/DB_Dumps/17.06.22/debts_docs_payments_document.csv
/DB_Dumps/17.06.22/debts_docs_payments_logs.csv
/DB_Dumps/17.06.22/debts_docs_payments_product.csv
/DB_Dumps/17.06.22/debts_docs_payments_user.csv
/.idea/dataSources/7e65579d-14ed-4ace-a0d0-4ecb1ca71af8/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
/.idea/modules.xml
/.idea/dataSources/7e65579d-14ed-4ace-a0d0-4ecb1ca71af8/storage_v2/_src_/schema/mysql.osA4Bg.meta
/DB_Dumps/17.06.22/MySQL dump
/.idea/dataSources/7e65579d-14ed-4ace-a0d0-4ecb1ca71af8/storage_v2/_src_/schema/performance_schema.kIw0nw.meta
/.idea/php.xml
/.idea/sqldialects.xml
/.idea/dataSources/7e65579d-14ed-4ace-a0d0-4ecb1ca71af8/storage_v2/_src_/schema/sys.zb4BAA.meta
/.idea/vcs.xml
/.idea/webResources.xml
/.idea/workspace.xml
